body {
    font-family: sans-serif
    font-size: 11pt;
    
}

.anaTablo {
    width: 100%;
    border-width: 0px;

}
.anaTabloMenu {
    width: 120x;
    height:500px;
}
.anaCerceve {
    border: 1px solid darkgray;
    margin: 2px;
    border-radius: 3px;
    background-color: whitesmoke;

}
.menu a {
    display: block;
    margin: 3px;
    color: dimgray;
    background-color: lightgray;
    width: 180px;
    text-decoration: none;
}
.icerik {
    width:100%
}

